.carousel-caption5 {
    background-color: white;
    margin-bottom: 20%;
    border-radius: 15px;
    border-color: #F7F7F7;
    border-width: 20px;
    border-style: solid;

}

.2caption{
    background-color: white;
    width: 40%;
    margin-bottom: 5%;
}
.opinionated{
    margin-top: -10px;
}

.signInForm{
    margin-left: 2%;
     background-color: rgba(247, 247, 247, .7);
    padding: 2%;
    border-radius: 15px;

}

.loginImage{
    height: 80%;
    width:45%;
    margin-top:4%;
}

.copyright{
    margin-left: 2%;
    margin-bottom: 1%;
}
.part2{
    background: #F7F7F7;
    width: 100%;
    padding: 43px 0 ;
}

.statementHeader{
    font-family: 'ITCModernNo.216W01-Md';
    font-size: 48px;
    line-height: 42px;
    color: #990000;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto 80px;
    width: 488px;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.missionStatement{
    
    margin-bottom: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.1em;
}

.listingsHeading{
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
}
.logo{
    font-size: 700%;
    font-style: bold;
    padding-bottom: 20%;
}

.listings{
    margin-left:5%;
    margin-right: 5%;
}

.container{
    margin:0;
    width:100%;
    padding: 0;
}

a{
    color:#990000;
    text-decoration: none;
}
a:hover{
    color:#990000;
    text-decoration: underline;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background-color: #990000;
    border-color: white;
}

.pagination>li>a, .pagination>li>span {
    color:#990000;
}

.signUpButton{
    width: 7%;
    height: 10%;
}

.regForm{
    background-color: rgba(247, 247, 247, .7);
    padding: 2%;
    border-radius: 15px;
    margin-left: 5%;
    margin-top:4%;
}

.productInfo{
    
    background-color: #F7F7F7;
    padding: 2%;

}

.btn-success{
    background-color: #990000;
    border-color: #990000;
}

.btn-success:hover{
    color: #990000;
    background-color: white;
    border-color: #990000;
}
li{
    list-style-type: none;
}
.status-media {
    border: 1px solid #E3E3E3;
    border-bottom: none;
    background: white;
    padding: 1em;
}

.status-media-heading {
    color: #409dd1;
    position: relative;
    top: 5px;
}

.status-media-body {
    color: #B3BAC0;
    font-size: 1.5em;
    padding: 1em

}

.status-media-object {
    position: relative;
    top: 13px;
    left: 10px;
    border: 1px solid #eeeeee;
}

.status-media-time {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.15em;
    color: #ccd0d3;
}

.status-post {
    border: 1px solid #E3E3E3;
    background: white;
    margin-bottom: 3em;
    padding: 0;
}

.status-post textarea {
    border: none;
}

.status-post textarea:focus {
    box-shadow: none;
}

.status-post .status-post-submit {
    border-top: 1px solid #E9E9E9;
    padding: 0.5em 1em;
    margin-bottom: 0;
    overflow: hidden;
    background: #FDFCFC;
}

.status-post .status-post-submit .btn {
    float: right;
    background: #990000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-family: helvetica;
}

.status-post .status-post-submit .btn:hover {
    background: #2790b1;
}

.comments__create-form textarea {
    border: 1px solid #e3e3e3;
    border-top: none;
    border-radius: 0;
}

.comments {
    margin-bottom: 5em;
}

.comments__comment {
    background: #e6e6e6;
    margin-top: 0;
    border: 1px solid #d9d9d9;
}

.status-post {
    border: 1px solid #e3e3e3;
    background: white;
    margin-bottom: 3em;
    padding: 0;
}

.status-post textarea {
    border: none;
}

.status-post textarea:focus {
    box-shadow: none;
}

.btn-primary {
    background: #00BAE9;
    border: 1px solid #0092b6;
}

.navbar-default {
background-color: #F7F7F7;
border-color: #F7F7F7;
padding-left:2%;
padding-right: 2%;

}

.navbar-default .navbar-brand {
    color:  #990000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar-default .navbar-brand:hover{
    color:  black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #990000;
}

.container h1:first-of-type {
    margin-top: 0;
}

.nav-gravatar {
    float: left;
    position: relative;
    top: -6px;
    left: -10px;
    border: 1px solid #eeeeee;
}

.users {
    margin-bottom: 3em;
}

.user-block {
    text-align: center;
}

.user-block .avatar {
    margin: auto;
}

body {
    font-family: 'EngraversGothicBT-Regular';
    font-size: 20px;
    line-height: 32px;
    color: black;
    border-color: white;
    -webkit-font-smoothing: antialiased;
    padding-top: 30px;
}

.password_reset {
    float: right;
}

.productImage{
    
    width:40%;
    height: 65%;
    
}
.slide-image {
    width: 100%;
    height: 450px;
    overflow:hidden;
    position: center;
}
.carousel {
    height: 450px;
    min-width: 100%;
    overflow: hidden;
    background-color: black;
}
/* Shop stuff - thumbnail in particular */
.carousel-holder {
    margin-bottom: 0;
}

.carousel-control,
.item {
    border-radius: 4px;
}
.carousel-inner>.item>img{
    width: 200%;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {

    /*white-space: nowrap;*/
}

.caption h4 a {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #B8860B  ;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.row-no-top-margin { margin-top:0; }

footer {
    margin: 50px 0;
}

.below-nav {
    margin-top: 30px;
}
